:root{

    --primary:#2EAF66;
    --primary-dark:#23864E;

    --secondary:#1B1B1B;

    --background:#F4F6F8;

    --surface:#FFFFFF;

    --border:#E2E8F0;

    --text:#202124;

    --text-light:#666666;

    --danger:#E53935;

    --warning:#FFB300;

    --success:#43A047;

    --shadow:

        0 2px 8px rgba(0,0,0,.08);

    --radius:12px;

    --transition:.25s;

    --navbar-height:60px;

}