
:root{

    /* Colors */

    --primary:#178E49;
    --primary-dark:#0F6B36;
    --primary-light:#EAF8F0;

    --secondary:#49C978;

    --background:#FAFBFC;

    --surface:#FFFFFF;

    --text:#222222;

    --text-secondary:#666666;

    --border:#E5E7EB;

    --danger:#DC2626;

    --warning:#F59E0B;

    --success:#16A34A;

    /* Radius */

    --radius-sm:8px;
    --radius-md:14px;
    --radius-lg:22px;
    --radius-xl:32px;

    /* Shadow */

    --shadow-sm:0 4px 12px rgba(0,0,0,.06);
    --shadow-md:0 10px 30px rgba(0,0,0,.10);
    --shadow-lg:0 18px 50px rgba(0,0,0,.14);

    /* Transition */

    --transition-fast:.2s;
    --transition:.3s;
    --transition-slow:.45s;

    /* Layout */

    --navbar-height:72px;

    --container-width:1280px;

     /* ==========================
       Typography
    ========================== */

    --font-family: 'Vazir', sans-serif;

    --font-xs: 12px;
    --font-sm: 14px;
    --font-md: 16px;
    --font-lg: 18px;
    --font-xl: 24px;
    --font-xxl: 32px;

    /* ==========================
       Spacing
    ========================== */

    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-xxl:48px;


}