.button{

    min-width:180px;

    white-space:nowrap;
    
    height:48px;

    padding:0 18px;

    border: none;

    border-radius:var(--radius-md);

    cursor:pointer;

    transition:var(--transition);
    transition: .25s;

    display:flex;

    justify-content:center;

    align-items:center;

    gap:8px;

    font-size:var(--font-md);

    font-weight:600;

}

.fullWidth{

    width:100%;

}

.primary{

    background:var(--primary);

    color:#fff;

}

.primary:hover{

    background:var(--primary-hover);

}

.outline {

    background: transparent;

    color: #178e49;

    border: 2px solid #178e49;

}

.outline:hover {

    background: #178e49;

    color: white;

}

.secondary{

    background:#ECEFF1;

    color:var(--text);

}

.danger{

    background:var(--error);

    color:#fff;

}

.button:disabled{

    opacity:.7;

    cursor:not-allowed;

}